body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    cursor: none;
}

#headlight {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: white;
    pointer-events: none;
    border-radius: 50%; /* circle shape */

    transform: translate(-50%, -50%);

    box-shadow:
        0 0 20px 10px rgba(255, 255, 255, 1),    
        0 0 100px 50px rgba(255, 255, 255, 0.4), 
        0 0 200px 100px rgba(255, 255, 255, 0.1); 

    pointer-events: none;
}