body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    cursor: none;
}

#headlight {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: white;
    pointer-events: none;
    border-radius: 50%; /* circle shape */

    transform: translate(-50%, -50%);

    box-shadow:
        0 0 20px 10px rgba(255, 255, 255, 1),    
        0 0 100px 50px rgba(255, 255, 255, 0.4), 
        0 0 200px 100px rgba(255, 255, 255, 0.1); 

    pointer-events: none;
}

.star {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(white, gold);

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    pointer-events: none;
    z-index: 9998; /* below the headlight */

    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
}